FORMAT: 1A
HOST: http://private-6f6d1-dsw.apiary-mock.com

# DSW Server API Docs


## Group Root

### Root Endpoint [/]

#### Get information about running application [GET]

+ Response 200 (application/json)

    + Attributes (Info)


## Group Action Keys

### Action Keys Collection [/action-keys]

#### Create Action Key [POST]

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property

+ Request (application/json)

    + Attributes (ActionKey)

+ Response 201 (application/json)


## Group Book References

### Book Reference [/book-references/{brShortUuid}]

#### Get detail of Book Reference [GET]

- **Possible failures:**
  - HTTP 404
  
+ Parameters
    + brShortUuid (string) ... Short uuid of book reference

+ Response 200 (application/json)

    + Attributes (BookReference)


## Group Configuration

### Configuration Endpoint [/configuration?{callback}]

#### Get configuration for a client app [GET]

This endpoint is a JSONP endpoint. 

If you do not provide a function name in a callback query parameter, the function name 'callback' will be used.

+ Parameters
    + callback: myFunction (string) ... A name of a callback function for JSONP

+ Response 200 (application/json)

    + Attributes (ClientConfig)


## Group Feedbacks

### Feedbacks Collection [/feedbacks]

#### List All Feedbacks [GET]

- **Possible failures:**
  - HTTP 401
    
+ Request

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

+ Response 200 (application/json)

    + Attributes (array[Feedback])


#### Create a New Feedback [POST]

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
  - HTTP 401

+ Request

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

+ Request (application/json)

    + Attributes (FeedbackCreate)

+ Response 201 (application/json)

    + Attributes (Feedback)

### Feedback Synchronization [/feedbacks/synchronization]

#### Synchronization local feedbacks in database with current state on GitHub  [GET]

- For authorization it should be used a service token defined in application configuration

- **Possible failures:**
  - HTTP 401
    
+ Request

    + Headers
    
            Authorization: Bearer huhui3h12u2h3ui1h23uidf789323n23jn2

+ Response 204


### Feedback [/feedbacks/{feedbackUuid}]

#### Get detail of Feedback [GET]

- **Possible failures:**
  - HTTP 401
  - HTTP 404
    - Feedback doesn't exist
    
+ Parameters
    + feedbackUuid (string) ... UUID of the feedback

+ Request

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

+ Response 200 (application/json)

    + Attributes (Feedback)
    

## Group Knowledge Model

### Knowledge Models Collection [/knowledge-models]

#### Get a preview [POST /preview]

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission

+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2
    
    + Attributes (KnowledgeModelChange)

+ Response 200 (application/json)

    + Attributes (KnowledgeModel)
    

## Group Levels

### Levels Collection [/levels]

#### List All Levels [GET]

- **Possible failures:**
  - HTTP 401

+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

+ Response 200 (application/json)

    + Attributes (array[Level])
        

## Group Metrics

### Metrics Collection [/metrics]

#### List All Metrics [GET]


- **Possible failures:**
  - HTTP 401

+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

+ Response 200 (application/json)

    + Attributes (array[Metric])


## Group Organization

### Organization Current [/organizations/current]

#### Get Current Organization [GET]

- **Possible failures:**
  - HTTP 401

+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

+ Response 200 (application/json)

    + Attributes (Organization)
        

#### Change Current Organization [PUT]

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
    - Invalid GroupId format
  - HTTP 401
  - HTTP 403
    - You don’t have ORG_PERM permission

+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2
    
    + Attributes (OrganizationChange)
        

+ Response 200 (application/json)

    + Attributes (Organization)


## Group Questionnaires

### Questionnaires Collection [/questionnaires]

#### List All Questionnaires [GET]

- **Required permissions:** QTN_PERM

- **Possible failures:**
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission

+ Response 200 (application/json)

    + Attributes (array[Questionnaire])

#### Create a New Questionnaire [POST]

- **Required permissions:** QTN_PERM

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission
  - HTTP 404
    - Package doesn't exist

+ Request (application/json)

    + Attributes (QuestionnaireCreate)

+ Response 201 (application/json)

    + Attributes (Questionnaire)

### Questionnaire Public [/questionnaires/public]

#### Get public example ofquestionnaire [GET]

- **Possible failures:**
  - HTTP 404
    - Questionnaire doesn't exist

+ Response 200 (application/json)

    + Attributes (QuestionnaireDetail)
        

### Questionnaire [/questionnaires/{questionnaireUuid}]

#### Get detail of Questionnaire [GET]

- **Required permissions:** QTN_PERM

- **Possible failures:**
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission
    - You don't have access to this questionnaire
  - HTTP 404
    - Questionnaire doesn't exist

+ Parameters
    + questionnaireUuid: 2j3hj4 (string) ... UUID of the Questionnaire

+ Response 200 (application/json)

    + Attributes (QuestionnaireDetail)
        

#### Update Questionnaire [PUT /questionnaires/{questionnaireUuid}]

- **Required permissions:** QTN_PERM

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission
    - You don't have access to this questionnaire
  - HTTP 404
    - Questionnaire doesn't exist

+ Parameters
    + questionnaireUuid: 2j3hj4 (string) ... UUID of the Questionnaire
    
+ Request (application/json)

    + Attributes (QuestionnaireChange)

+ Response 200 (application/json)

    + Attributes (QuestionnaireDetail)


#### Export Questionnaire [GET /questionnaires/{questionnaireUuid}/dmp{?format}{?templateUuid}]
    
- **Possible failures:**
  - HTTP 400
    - DMP Format is not currently supported
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission
    - You don't have access to this questionnaire
  - HTTP 404
    - Questionnaire doesn't exist
  - HTTP 500
    - Couldn't transform to desired document format

+ Parameters
    + questionnaireUuid: 2j3hj4 (string) ... UUID of the Questionnaire
    + format: pdf (enum[string]) ... Desired document format
      + Members
            + `json`
            + `html`
            + `latex`
            + `markdown`
            + `docx`
            + `odt`
            + `pdf`
            + `rtf`
            + `rst`
            + `asciidoc`
            + `dokuwiki`
            + `mediawiki`
            + `epub2`
            + `epub3`
    + templateUuid: 1i31iod (string) ... UUID of the desired template

+ Response 200 (application/octet-stream)


#### Retrieve Preview of Questionnaire Report [POST /questionnaires/{questionnaireUuid}/report/preview]

- **Required permissions:** QTN_PERM

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission
    - You don't have access to this questionnaire
  - HTTP 404
    - Questionnaire doesn't exist

+ Parameters
    + questionnaireUuid: 2j3hj4 (string) ... UUID of the Questionnaire

+ Request (application/json)

    + Attributes (array[QuestionnaireChange])

+ Response 200 (application/json)

    + Attributes (Report)


#### Get Questionnaire Report [GET /questionnaires/{questionnaireUuid}/report]

- **Required permissions:** QTN_PERM

- **Possible failures:**
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission
    - You don't have access to this questionnaire
  - HTTP 404
    - Questionnaire doesn't exist

+ Parameters
    + questionnaireUuid: 2j3hj4 (string) ... UUID of the Questionnaire

+ Response 200 (application/json)

    + Attributes (Report)


#### Delete Questionnaire [DELETE /questionnaires/{questionnaireUuid}]

- **Required permissions:** QTN_PERM

- **Possible failures:**
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission
    - You don't have access to this questionnaire
  - HTTP 404
    - Questionnaire doesn't exist
    
+ Parameters
    + questionnaireUuid: 2j3hj4 (string) ... UUID of the Questionnaire

+ Request

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

+ Response 204
    

## Group Template

### Templates Collection [/templates]

#### List All Templates [GET]

- **Possible failures:**
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission

+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

+ Response 200 (application/json)

    + Attributes (array[Template])


## Group Token

### Token Endpoint [/tokens]

#### Get token [POST]

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
    - Incorrect email or password
    - Non-active account

+ Request (application/json)

    + Attributes (TokenCreate)

+ Response 201 (application/json)

    + Attributes (Token)
    

## Group Typehints

### Typehints Collection [/typehints]

#### Retrieve All Typehints [POST]

- **Possible failures:**
  - HTTP 401
  - HTTP 403
    - You don’t have QTN_PERM permission

+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2
    
    + Attributes (TypehintRequest)

+ Response 200 (application/json)

    + Attributes (array[Typehint])


## Group Users

### Users Collection [/users]

#### List All Users [GET]

- **Required permissions:** UM_PERM

- **Possible failures:**
  - HTTP 401
  - HTTP 403
    - You don’t have UM_PERM permission

+ Request

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

+ Response 200 (application/json)

    + Attributes (array[User])

#### Registrate / Create user [POST]

- **Required permissions:** UM_PERM (Just for creation, not registration)

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
    - User with email 'albert.einstein@example.com' already exists
  - HTTP 401 (Just for creation, not registration)
  - HTTP 403
    - You don’t have UM_PERM permission (Just for creation, not registration)

<!-- Registrate User -->

+ Request (application/json)

    + Attributes (UserRegistration)

+ Response 201 (application/json)

    + Attributes (User)

+ Request (application/json)

    + Attributes (UserCreate)
    
+ Response 201 (application/json)

    + Attributes (User)

    
### User [/users/{userUuid}]

#### Get user [GET]

- **Required permissions:** UM_PERM

- **Possible failures:**
  - HTTP 401
  - HTTP 403
    - You don’t have UM_PERM permission
  - HTTP 404
    - User doesn't exist
    
+ Parameters
    + userUuid: 2j3hj4 (string) ... UUID of the User
    
+ Request

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2
    
+ Response 200

    + Attributes (User)

#### Modify user [PUT]

- **Required permissions:** UM_PERM

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
    - User with email 'albert.einstein@example.com' already exists
  - HTTP 401
  - HTTP 403
    - You don’t have UM_PERM permission
  - HTTP 404
    - User doesn't exist
    
+ Parameters
    + userUuid: 2j3hj4 (string) ... UUID of the User
    
+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

    + Attributes (UserChange)    
    
+ Response 200

    + Attributes (User)

#### Enable / disable user [PUT /users/{userUuid}/state]

- **Required permissions:** UM_PERM

- **Possible failures:**
  - HTTP 401
  - HTTP 403
    - You don’t have UM_PERM permission
  - HTTP 404
    - User doesn't exist

+ Parameters
    + userUuid: 2j3hj4 (string) ... UUID of the User
    
+ Request (application/json)

    + Attributes (UserChange)    
    
+ Response 200

    + Attributes (User)

#### Activate user [PUT /users/{userUuid}/state{?hash}]

- **Required permissions:** UM_PERM

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
    - Hash query param has to be provided
  - HTTP 404
    - User doesn't exist

+ Parameters
    + userUuid: 2j3hj4 (string) ... UUID of the User
    + hash: h53j1jb (string) ... Random generated hash, provided in email
    
+ Request (application/json)

    + Attributes (UserChange)    
    
+ Response 200

    + Attributes (User)

#### Change password [PUT /users/{userUuid}/password]

- **Required permissions:** UM_PERM

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
    - You have to log in as Administrator or you have to provide a hash in query param
  - HTTP 401
  - HTTP 403
    - You don’t have UM_PERM permission
  - HTTP 404
    - User doesn't exist
    
+ Parameters
    + userUuid: 2j3hj4 (string) ... UUID of the User
    
+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

    + Attributes (UserPassword)    
    
+ Response 204

#### Reset forgotten password [PUT /users/{userUuid}/password{?hash}]

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
    - Hash query param has to be provided
  - HTTP 404
    - User doesn't exist
    
+ Parameters
    + userUuid: 2j3hj4 (string) ... UUID of the User
    + hash: h53j1jb (string) ... Random generated hash, provided in email
    
+ Request (application/json)

    + Attributes (UserPassword)    
    
+ Response 204

#### Delete user [DELETE]

- **Required permissions:** UM_PERM

- **Possible failures:**
  - HTTP 401
  - HTTP 403
    - You don’t have UM_PERM permission
  - HTTP 404
    - User doesn't exist
    
+ Parameters
    + userUuid: 2j3hj4 (string) ... UUID of the User

+ Request

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

+ Response 204

### User Current [/users/current]

#### Modify profile [PUT]

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
    - User with email 'albert.einstein@example.com' already exists
  - HTTP 401
    
+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

    + Attributes (UserProfileChange)    
    
+ Response 200

    + Attributes (User)

#### Change password for current user [PUT /users/current/password]

- **Required permissions:** UM_PERM

- **Possible failures:**
  - HTTP 400
    - Invalid JSON
    - Missing required property
  - HTTP 401

+ Request (application/json)

    + Headers
    
            Authorization: Bearer jij23ioin23.br34htjdsuis.df789323n23jn2

    + Attributes (UserPassword)    
    
+ Response 204



# Data Structures


## Action Key Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### ActionKey (object)
+ type (ActionKeyType)
+ email: `albert.einstein@example.com` (string)

### ActionKeyType (enum[string])
+ `RegistrationActionKey`
+ `ForgottenPasswordActionKey`


## BookReference Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### BookReference (object)
+ shortUuid: bvq (string)
+ booChapter: 1.1 (string)
+ content: <div>Some HTML content</div> (string)
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)


## Branch Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### BranchState (enum[string])
+ `Default`
+ `Edited`
+ `Outdated`
+ `Migrating`
+ `Migrated`

### Branch (object)
+ uuid: `7c70be8c-b6c3-4dd8-8701-3e1e0e6730da` (string)
+ name: My customization (string)
+ organizationId: `cz.cvut.fit` (string)
+ kmId: root (string)
+ stateType (BranchState)
+ parentPackageId: `cz.cvut:common:1.0.0` (string, optional)
+ lastAppliedParentPackageId: `cz.cvut:common:1.0.0` (string, optional)
+ owner: `8fdd8d82-f512-40dc-b445-25043a65dbf4` (string, optional)
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)

### BranchChange (object)
+ name: My customization (string)
+ kmId: root (string)
+ events (array[Event])

### BranchCreate (object)
+ name: My customization (string)
+ kmId: root (string)
+ parentPackageId: `cz.cvut:common:1.0.0` (string, optional)

### BranchDetail (object)
+ uuid: `7c70be8c-b6c3-4dd8-8701-3e1e0e6730da` (string)
+ name: My customization (string)
+ organizationId: `cz.cvut.fit` (string)
+ kmId: root (string)
+ stateType (BranchState)
+ parentPackageId: `cz.cvut:common:1.0.0` (string, optional)
+ lastAppliedParentPackageId: `cz.cvut:common:1.0.0` (string, optional)
+ owner: `8fdd8d82-f512-40dc-b445-25043a65dbf4` (string, optional)
+ events (array[Event])
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)


## Data Management Plan Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### DataManagementPlan (object)
+ uuid: `f23f9f2d-8f4a-4c27-9bef-45899a2ea5ec` (string)
+ questionnaireUuid: `cd819d1b-ab70-4bca-ac30-e031b5b20e5d` (string)
+ level: 2 (number)
+ filledKnowledgeModel (FilledKnowledgeModel)
+ metrics (array[Metric]
+ report (Report)
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)

## Config Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### ClientConfig (object)
+ feedbackEnabled: true (boolean)
+ registrationEnabled: true (boolean)
+ publicQuestionnaireEnabled: true (boolean)
+ client (object)
  + welcomeWarning: This is just a demo app (string, optional)
  + appTitleShort: DSW (string, optional)
  + appTitle: Data Stewardship Wizard (string, optional)
  + welcomeInfo: Welcome to Data Stewardship Wizard (string, optional)


## Error Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### AppError (object)
+ uuid: `6c46a7fc-918e-4195-88be-b146b628c0c8` (string)


## Event Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### Event (enum)
+ (AddKnowledgeModelEvent)
+ (EditKnowledgeModelEvent)
+ (AddChapterEvent)
+ (EditChapterEvent)
+ (DeleteChapterEvent)
+ (AddQuestionEvent)
+ (EditQuestionEvent)
+ (DeleteQuestionEvent)
+ (AddAnswerEvent)
+ (EditAnswerEvent)
+ (DeleteAnswerEvent)
+ (AddExpertEvent)
+ (EditExpertEvent)
+ (DeleteExpertEvent)
+ (AddReferenceEvent)
+ (EditReferenceEvent)
+ (DeleteReferenceEvent)
+ (AddTagEvent)
+ (EditTagEvent)
+ (DeleteTagEvent)
+ (AddIntegrationEvent)
+ (EditIntegrationEvent)
+ (DeleteIntegrationEvent)

### AddKnowledgeModelEvent (object)
+ eventType: AddKnowledgeModelEvent (string)
+ uuid: `53341c8c-ce33-4e6e-ae97-f1787b825215` (string)
+ path: [] (array[string])
+ kmUuid: `9219c5d5-5f0c-4465-864a-46846f65581f ` (string)
+ name: My First Knowledge Model (string)

### EditKnowledgeModelEvent (object)
+ eventType: EditKnowledgeModelEvent (string)
+ uuid: `1f72591a-6a72-42b7-b3da-5c4be987b5ee` (string)
+ path: [] (array[string])
+ kmUuid: `9219c5d5-5f0c-4465-864a-46846f65581f ` (string)
+ name: My First Knowledge Model (string)
+ chapterUuids: [] (array[string])
+ tagUuids: [] (array[string])
+ integrationUuids: [] (array[string])

### AddChapterEvent (object)
+ eventType: AddChapterEvent (string)
+ uuid: `8fbf07f8-5581-452d-b640-b244ad8d1fd8` (string)
+ path: [] (array[string])
+ chapterUuid: `4ec7611b-0392-4602-9302-dfcb79654d24` (string)
+ title: `First Chapter` (string)
+ text: `Some descriptive content of this chapter` (string)
+ questions (array[Question])

### EditChapterEvent (object)
+ eventType: EditChapterEvent (string)
+ uuid: `2600f890-df83-419f-a875-078d3526e496` (string)
+ path: [] (array[string])
+ chapterUuid: `4ec7611b-0392-4602-9302-dfcb79654d24` (string)
+ title: `First Chapter` (string)
+ text: `Some descriptive content of this chapter` (string)
+ questionUuids: [] (array[string])

### DeleteChapterEvent (object)
+ eventType: DeleteChapterEvent (string)
+ uuid: `b0fa9a24-b74d-4755-94d2-71bfb2e28d96` (string)
+ path: [] (array[string])
+ chapterUuid: `4ec7611b-0392-4602-9302-dfcb79654d24` (string)

### AddQuestionEvent (enum)
+ (AddOptionsQuestionEvent)
+ (AddListQuestionEvent)
+ (AddValueQuestionEvent)
+ (AddIntegrationQuestionEvent)

### AddOptionsQuestionEvent (object)
+ eventType: AddQuestionEvent (string)
+ questionType: OptionsQuestion (string)
+ uuid: `c44f5317-882b-4e54-8403-f2a791ac9492` (string)
+ path: [] (array[string])
+ questionUuid: `44cd1310-3c99-4e5e-9036-dda31300f510` (string)
+ type: `QuestionTypeOptions` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string, optional)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])

### AddListQuestionEvent (object)
+ eventType: AddQuestionEvent (string)
+ questionType: ListQuestion (string)
+ uuid: `c44f5317-882b-4e54-8403-f2a791ac9492` (string)
+ path: [] (array[string])
+ questionUuid: `44cd1310-3c99-4e5e-9036-dda31300f510` (string)
+ type: `QuestionTypeOptions` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string, optional)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ itemTemplateTitle: Title (string)

### AddValueQuestionEvent (object)
+ eventType: AddQuestionEvent (string)
+ questionType: ValueQuestion (string)
+ uuid: `c44f5317-882b-4e54-8403-f2a791ac9492` (string)
+ path: [] (array[string])
+ questionUuid: `44cd1310-3c99-4e5e-9036-dda31300f510` (string)
+ type: `QuestionTypeOptions` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string, optional)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ valueType (QuestionValueType)

### AddIntegrationQuestionEvent (object)
+ eventType: AddQuestionEvent (string)
+ questionType: IntegrationQuestion (string)
+ uuid: `6567536c-91a5-4890-be2d-bbe4c38ddcb6` (string)
+ path: [] (array[string])
+ questionUuid: `0eb21bdf-07b8-4c90-bf08-48dbef37680e` (string)
+ type: `QuestionTypeOptions` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string, optional)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ integrationUuid: `60528d86-d8b2-40ae-bf89-3bc44cdc711a` (string)
+ props (object)
    + domain: dog (string)

### EditQuestionEvent (enum)
+ (EditOptionsQuestionEvent)
+ (EditListQuestionEvent)
+ (EditValueQuestionEvent)
+ (EditIntegrationQuestionEvent)

### EditOptionsQuestionEvent (object)
+ eventType: EditQuestionEvent (string)
+ questionType: OptionsQuestion (string)
+ uuid: `4c8b9c0b-b40d-4917-8b26-d68b97f1604e` (string)
+ path: [] (array[string])
+ questionUuid: `44cd1310-3c99-4e5e-9036-dda31300f510` (string)
+ type: `QuestionTypeOptions` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string, optional)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ expertUuids: [] (array[string])
+ referenceUuids: [] (array[string])
+ answerUuids: [] (array[string])

### EditListQuestionEvent (object)
+ eventType: EditQuestionEvent (string)
+ questionType: ListQuestion (string)
+ uuid: `4c8b9c0b-b40d-4917-8b26-d68b97f1604e` (string)
+ path: [] (array[string])
+ questionUuid: `44cd1310-3c99-4e5e-9036-dda31300f510` (string)
+ type: `QuestionTypeOptions` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string, optional)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ expertUuids: [] (array[string])
+ referenceUuids: [] (array[string])
+ itemTemplateTitle: Title (string)
+ itemTemplateQuestionUuids: [] (array[string])

### EditValueQuestionEvent (object)
+ eventType: EditQuestionEvent (string)
+ questionType: ValueQuestion (string)
+ uuid: `4c8b9c0b-b40d-4917-8b26-d68b97f1604e` (string)
+ path: [] (array[string])
+ questionUuid: `44cd1310-3c99-4e5e-9036-dda31300f510` (string)
+ type: `QuestionTypeOptions` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string, optional)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ expertUuids: [] (array[string])
+ referenceUuids: [] (array[string])
+ valueType (QuestionValueType)

### EditIntegrationQuestionEvent (object)
+ eventType: AddQuestionEvent (string)
+ questionType: IntegrationQuestion (string)
+ uuid: `ed9e2d92-78fd-46de-9718-d649de263b62` (string)
+ path: [] (array[string])
+ questionUuid: `09800c8c5-2e01-4f47-a553-fd8ccec32233` (string)
+ type: `QuestionTypeOptions` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string, optional)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ integrationUuid: `60528d86-d8b2-40ae-bf89-3bc44cdc711a` (string)
+ props (object)
    + domain: dog (string)

### DeleteQuestionEvent (object)
+ eventType: DeleteQuestionEvent (string)
+ uuid: `414636a2-941a-4301-a479-e5dc582f5700` (string)
+ path: [] (array[string])
+ questionUuid: `44cd1310-3c99-4e5e-9036-dda31300f510` (string)

### AddAnswerEvent (object)
+ eventType: AddAnswerEvent (string)
+ uuid: `0162f360-2e2b-4546-b3a9-5f3ce857ce1a` (string)
+ path: [] (array[string])
+ answerUuid: `a7255bd9-edd7-40ce-97a7-dbd91fb69abc` (string)
+ label: First advice (string)
+ advice: Some helpful comment (string, optional)
+ metricMeasures (array[MetricMeasure])

### EditAnswerEvent (object)
+ eventType: EditAnswerEvent (string)
+ uuid: `844f2a0f-a247-476f-9c2f-4381cdcd856f` (string)
+ path: [] (array[string])
+ answerUuid: `a7255bd9-edd7-40ce-97a7-dbd91fb69abc` (string)
+ label: First advice (string)
+ advice: Some helpful comment (string, optional)
+ followUpUuids: [] (array[string])
+ metricMeasures (array[MetricMeasure])

### DeleteAnswerEvent (object)
+ eventType: DeleteAnswerEvent (string)
+ uuid: `440e6c34-085c-401d-bd0b-e2da64c42092` (string)
+ path: [] (array[string])
+ answerUuid: `a7255bd9-edd7-40ce-97a7-dbd91fb69abc` (string)

### AddExpertEvent (object)
+ eventType: AddExpertEvent (string)
+ uuid: `2fb0a8e6-8854-44e8-a8f1-d702fff6f57b` (string)
+ path: [] (array[string])
+ expertUuid: `023e53b0-3a78-42f7-994b-e4244d226396` (string)
+ name: Albert Einstein (string)
+ email: `albert.einstein@example.com` (string)

### EditExpertEvent (object)
+ eventType: EditExpertEvent (string)
+ uuid: `9183953f-c179-4967-bc14-5c7e8b69c626` (string)
+ path: [] (array[string])
+ expertUuid: `023e53b0-3a78-42f7-994b-e4244d226396` (string)
+ name: Albert Einstein (string)
+ email: `albert.einstein@example.com` (string)

### DeleteExpertEvent (object)
+ eventType: DeleteExpertEvent (string)
+ uuid: `69ffac0d-2781-4a74-a1d9-faead0156792` (string)
+ path: [] (array[string])
+ expertUuid: `023e53b0-3a78-42f7-994b-e4244d226396` (string)

### AddReferenceEvent (enum)
+ (AddResourcePageReferenceEvent)
+ (AddURLReferenceEvent)
+ (AddCrossReferenceEvent)

### AddResourcePageReferenceEvent (object)
+ eventType: AddReferenceEvent (string)
+ referenceType: ResourcePageReference (string)
+ uuid: `a77ce5ad-76e9-4286-ba85-8050078f1fbe` (string)
+ path: [] (array[string])
+ referenceUuid: `3747911b-0983-47a7-b49e-0c5f24dab588` (string)
+ shortUuid: abc (string)

### AddURLReferenceEvent (object)
+ eventType: AddReferenceEvent (string)
+ referenceType: URLReference (string)
+ uuid: `7b3c243c-2548-49bb-a384-59b59c5a1d90` (string)
+ path: [] (array[string])
+ referenceUuid: `c5d8513b-1025-4fc2-98ed-1549f7f7e24b` (string)
+ url: `https://fair-metrics.com` (string)
+ label: Fair Metrics Definitions (string)

### AddCrossReferenceEvent (object)
+ eventType: AddReferenceEvent (string)
+ referenceType: CrossReference (string)
+ uuid: `d0a47392-b706-4f4b-b158-082ef0aba54a` (string)
+ path: [] (array[string])
+ referenceUuid: `5fcf75a1-d0b1-42e1-b665-b49f933c688b` (string)
+ targetUuid: `91ed1251-b636-4214-949a-44a322bc6981` (string)
+ description: Some link to other part of KM (string)

### EditReferenceEvent (enum)
+ (EditResourcePageReferenceEvent)
+ (EditURLReferenceEvent)
+ (EditCrossReferenceEvent)

### EditResourcePageReferenceEvent (object)
+ eventType: EditReferenceEvent (string)
+ referenceType: ResourcePageReference (string)
+ uuid: `d4d14690-9ddb-46fa-9333-4d00f743b771` (string)
+ path: [] (array[string])
+ referenceUuid: `93f00ee9-5e8a-45c8-b159-2b38356367cf` (string)
+ shortUuid: abc (string)

### EditURLReferenceEvent (object)
+ eventType: EditReferenceEvent (string)
+ referenceType: URLReference (string)
+ uuid: `26e39c4c-6454-4f1b-8a5a-2bb643a18489` (string)
+ path: [] (array[string])
+ referenceUuid: `2e59b25c-41f9-4c04-8398-5832c145d072` (string)
+ url: `https://fair-metrics.com` (string)
+ label: Fair Metrics Definitions (string)

### EditCrossReferenceEvent (object)
+ eventType: EditReferenceEvent (string)
+ referenceType: CrossReference (string)
+ uuid: `62c2e9cd-6216-4869-a005-655bee35cc13` (string)
+ path: [] (array[string])
+ referenceUuid: `18a9e288-1c2d-48c1-bb66-dadb585bbcee` (string)
+ targetUuid: `91ed1251-b636-4214-949a-44a322bc6981` (string)
+ description: Some link to other part of KM (string)

### DeleteReferenceEvent (object)
+ eventType: DeleteReferenceEvent (string) 
+ uuid: `505ec8cf-4cfc-41ef-9ba6-abbea078f130` (string)
+ path: [] (array[string])
+ referenceUuid: `fe962a23-bc93-4a21-abe4-d0e2c121adbe` (string)

### AddTagEvent (object)
+ eventType: AddTagEvent (string)
+ uuid: `985e710c-70c2-41bc-a1a4-aab935640796` (string)
+ path: [] (array[string])
+ tagUuid: `11f5a195-226d-4e67-93df-665874a962a2` (string)
+ name: Data Science (string)
+ description: ... (string, optional)
+ color: `#112233` (string)

### EditTagEvent (object)
+ eventType: EditTagEvent (string)
+ uuid: `8d35e73e-a7d6-4fb7-9cc0-6379ea56cf46` (string)
+ path: [] (array[string])
+ tagUuid: `11f5a195-226d-4e67-93df-665874a962a2` (string)
+ name: Data Science (string)
+ description: ... (string, optional)
+ color: `#112233` (string)

### DeleteTagEvent (object)
+ eventType: DeleteTagEvent (string)
+ uuid: `e469649d-5847-4f8b-bb5f-5758b33cca2b` (string)
+ path: [] (array[string])
+ tagUuid: `11f5a195-226d-4e67-93df-665874a962a2` (string)
+ name: Data Science (string)
+ description: ... (string)
+ color: `#112233` (string)

### AddIntegrationEvent (object)
+ eventType: AddIntegrationEvent (string)
+ uuid: `92b8c8c0-76d1-4949-9694-15b60384d43b` (string)
+ path: [] (array[string])
+ integrationUuid: `0fd8bada-3acb-4c5f-a679-ce72d5c394d8` (string)
+ name: Data Science (string)
+ description: ... (string)
+ color: `#112233` (string)
+ uuid: `0fd8bada-3acb-4c5f-a679-ce72d5c394d8` (string)
+ id: ontologyPortal (string)
+ name: Ontology Portal (string)
+ props (array[string])
    - domain
    - country 
+ logo: `some-base64-encoded-image` (string)
+ requestMethod: GET (string)
+ requestUrl: `${baseurl}/ontology-portal.json?domain=${domain}&country=${country}&q=${q}` (string)
+ requestHeaders (object)
+ requestBody: `{}` (string)
+ responseListField: `nested.results` (string)
+ responseIdField: id (string)
+ responseNameField: name (string)
+ itemUrl: `https://example.com/ontologies/${id}` (string)

### EditIntegrationEvent (object)
+ eventType: EditIntegrationEvent (string)
+ uuid: `3d4f68a8-eadb-4501-ba81-e186358c8611` (string)
+ path: [] (array[string])
+ integrationUuid: `0fd8bada-3acb-4c5f-a679-ce72d5c394d8` (string)
+ name: Data Science (string)
+ description: ... (string)
+ color: `#112233` (string)
+ uuid: `0fd8bada-3acb-4c5f-a679-ce72d5c394d8` (string)
+ id: ontologyPortal (string)
+ name: Ontology Portal (string)
+ props (array[string])
    - domain
    - country 
+ logo: `some-base64-encoded-image` (string)
+ requestMethod: GET (string)
+ requestUrl: `${baseurl}/ontology-portal.json?domain=${domain}&country=${country}&q=${q}` (string)
+ requestHeaders (object)
+ requestBody: `{}` (string)
+ responseListField: `nested.results` (string)
+ responseIdField: id (string)
+ responseNameField: name (string)
+ itemUrl: `https://example.com/ontologies/${id}` (string)

### DeleteIntegrationEvent (object)
+ eventType: DeleteIntegrationEvent (string)
+ uuid: `ccc0a8f9-6d26-4574-b3ec-f6ae2bc25072` (string)
+ path: [] (array[string])
+ tagUuid: `11f5a195-226d-4e67-93df-665874a962a2` (string)
+ name: Data Science (string)
+ description: ... (string)
+ color: `#112233` (string)


## Filled Knowledge Model Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### FilledKnowledgeModel (object)
+ uuid: `3a48fad4-0a8b-4efb-b7b0-1e0f539708f9` (string)
+ name: My Knowledge Model (string)
+ humanIdentifier: II (string)
+ chapters (array[FilledChapter])
+ tags (array[Tag])
+ integrations (array[Integration])

### FilledChapter (object)
+ uuid: `0fc4d2e6-1fb9-4e98-a243-25c0e9ad6234` (string)
+ title: `First Chapter` (string)
+ text: `Some descriptive content of this chapter` (string)
+ questions (array[FilledQuestion])

### FilledQuestion (enum)
+ (FilledOptionsQuestion)
+ (FilledListQuestion)
+ (FilledValueQuestion)
+ (FilledIntegrationQuestion)

### FilledOptionsQuestion (object)
+ questionType: `OptionsQuestion` (string)
+ uuid: `ceddf7b3-a979-4409-9c60-c3f1b4865a5c` (string)
+ humanIdentifier: 1 (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ references (array[Reference])
+ experts (array[Expert])
+ answers (array[FilledAnswer])
+ answerOption (FilledAnswer, optional)

### FilledListQuestion (object)
+ questionType: `ListQuestion` (string)
+ uuid: `a549a59f-2f66-4436-be2c-a0e99f65f783` (string)
+ humanIdentifier: 1 (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ references (array[Reference])
+ experts (array[Expert])
+ itemTemplateTitle: Title (string)
+ itemTemplateQuestions (array[FilledQuestion])
+ items (array[FilledAnswerItem], optional)

### FilledValueQuestion (object)
+ questionType: `ValueQuestion` (string)
+ uuid: `19f2bbd7-c05a-4f38-a4d5-cedff14ba1c9` (string)
+ humanIdentifier: 1 (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ references (array[Reference])
+ experts (array[Expert])
+ valueType (QuestionValueType)
+ answerValue (string, optional)

### FilledIntegrationQuestion (object)
+ questionType: `IntegrationQuestion` (string)
+ uuid: `7318d539-cbe5-437c-a08f-9bc0344b86a0` (string)
+ humanIdentifier: 1 (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ references (array[Reference])
+ experts (array[Expert])
+ integrationUuid: `9ea64a5a-cc7e-49de-858d-be901e19093f` (string)
+ props (object)
    + domain: dog (string)
+ answerIntId (string, optional)
+ answerValue (string, optional)

### FilledAnswer (object)
+ uuid: `ee96cd8f-e761-454a-89a0-65548f4960e1` (string)
+ humanIdentifier: 1 (string)
+ label: First advice (string)
+ advice: Some helpful comment (string)
+ followUps (array[FilledQuestion])
+ metricMeasures (array[MetricMeasure])

### FilledAnswerItem (object)
+ humanIdentifier: `1.a` (string)
+ title: MongoDB (string)
+ value: 10GB (string)
+ questions (array[FilledQuestion])


## Feedback Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### FeedbackCreate (object)
+ questionUuid: `59bd7bd3-07d7-4512-95f6-f19f69786527` (string)
+ packageId: elixir:root:1.0.0 (string)
+ title: Provide more descriptive content (string)
+ content: I'm not very satisfied with a description of this question (string)

### Feedback (object)
+ uuid: `495bf77b-d0c3-44ee-be7c-e0eccc092186` (string)
+ issueId: 123 (number)
+ issueUrl: `https://github.com/ds-wizard/dsw-common/issues/123` (string)
+ questionUuid: `59bd7bd3-07d7-4512-95f6-f19f69786527` (string)
+ packageId: elixir:root:1.0.0 (string)
+ title: Provide more descriptive content (string)
+ content: I'm not very satisfied with a description of this question (string)
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)


## Info Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### Info (object)
+ name: Data Stewardship Wizard Server (string)
+ version: `1.0.0` (string)
+ builtAt: `2017/10/25 19:50:20Z` (string)


## Knowledge Model Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### KnowledgeModelChange (object)
+ packageId: `cz.cvut.fit:software-engineering:1.0.0` (string, optional)
+ events (array[Event])
+ tagUuids: [] (array[string])

### KnowledgeModel (object)
+ uuid: `6c46a7fc-918e-4195-88be-b146b628c0c8` (string)
+ name: My Knowledge Model (string)
+ chapters (array[Chapter])
+ tags (array[Tag])
+ integrations (array[Integration])

### Chapter (object)
+ uuid: `c5b07143-9d31-40c3-bc68-46cffc939c5b` (string)
+ title: `First Chapter` (string)
+ text: `Some descriptive content of this chapter` (string)
+ questions (array[Question])

### Question (enum)
+ (OptionsQuestion)
+ (ListQuestion)
+ (ValueQuestion)
+ (IntegrationQuestion)

### OptionsQuestion (object)
+ questionType: `OptionsQuestion` (string)
+ uuid: `ceddf7b3-a979-4409-9c60-c3f1b4865a5c` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ references (array[Reference])
+ experts (array[Expert])
+ answers (array[Answer])

### ListQuestion (object)
+ questionType: `ListQuestion` (string)
+ uuid: `a549a59f-2f66-4436-be2c-a0e99f65f783` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ references (array[Reference])
+ experts (array[Expert])
+ itemTemplateTitle: Some title (string)
+ itemTemplateQuestions (array[Question])

### QuestionValueType (enum[string])
+ `StringValue`
+ `NumberValue`
+ `DateValue`
+ `TextValue`

### ValueQuestion (object)
+ questionType: `ValueQuestion` (string)
+ uuid: `19f2bbd7-c05a-4f38-a4d5-cedff14ba1c9` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ references (array[Reference])
+ experts (array[Expert])
+ valueType (QuestionValueType)

### IntegrationQuestion (object)
+ questionType: `IntegrationQuestion` (string)
+ uuid: `7318d539-cbe5-437c-a08f-9bc0344b86a0` (string)
+ title: `First Question` (string)
+ text: `Some descriptive content of this question` (string)
+ requiredLevel: 2 (number, optional)
+ tagUuids: [`1f8dcefc-d57f-40f0-8b8f-50fd0b3cce1f`] (array[string])
+ references (array[Reference])
+ experts (array[Expert])
+ integrationUuid: `9ea64a5a-cc7e-49de-858d-be901e19093f` (string)
+ props (object)
    + domain: dog (string)

### Answer (object)
+ uuid: `cdffeda2-4bdc-45ee-8c49-f230a5af2f68` (string)
+ label: First advice (string)
+ advice: Some helpful comment (string)
+ followUps (array[Question])
+ metricMeasures (array[MetricMeasure])

### Expert (object)
+ uuid: `5009a311-a19f-4d05-bd24-fa3237416fe4` (string)
+ name: Albert Einstein (string)
+ email: `albert.einstein@example.com` (string)

### Reference (enum)
+ (ResourcePageReference)
+ (URLReference)
+ (CrossReference)

### ResourcePageReference (object)
+ referenceType: ResourcePageReference (string)
+ uuid: `4889f3fd-3310-457f-b0b7-9805ad3954eb` (string)
+ shortUuid: abc (string)

### URLReference (object)
+ referenceType: URLReference (string)
+ uuid: `7d92bc47-6a33-49a5-8878-e59b30cf03b3` (string)
+ url: `https://fair-metrics.com` (string)
+ label: Fair Metrics Definitions (string)

### CrossReference (object)
+ referenceType: CrossReference (string)
+ uuid: `b1506e24-b9f7-4f07-9096-c1acd48759ca` (string)
+ targetUuid: `91ed1251-b636-4214-949a-44a322bc6981` (string)
+ description: Some link to other part of KM (string)

### Metric (object)
+ uuid: `db667ca6-bb88-4953-8417-0ff6298f97f1` (string)
+ title: Findability (string)
+ abbreviation: F (string)
+ description: ... (string)
+ references: [] (array[Reference])
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)

### MetricMeasure (object)
+ uuid: `00b434f8-b39f-45b2-b712-89eacbcc0af8` (string)
+ measure: 0.8 (number)
+ weight: 0.5 (number)

### Tag (object)
+ uuid: `56aef441-cde6-4690-9ff4-7987d7cee9dc` (string)
+ name: Data Science (string)
+ description: ... (string)
+ color: `#112233` (string)

### Integration (object)
+ uuid: `0fd8bada-3acb-4c5f-a679-ce72d5c394d8` (string)
+ name: Data Science (string)
+ description: ... (string)
+ color: `#112233` (string)
+ uuid: `0fd8bada-3acb-4c5f-a679-ce72d5c394d8` (string)
+ id: ontologyPortal (string)
+ name: Ontology Portal (string)
+ props (array[string])
    - domain
    - country 
+ logo: `some-base64-encoded-image` (string)
+ requestMethod: GET (string)
+ requestUrl: `${baseurl}/ontology-portal.json?domain=${domain}&country=${country}&q=${q}` (string)
+ requestHeaders (object)
+ requestBody: `{}` (string)
+ responseListField: `nested.results` (string)
+ responseIdField: id (string)
+ responseNameField: name (string)
+ itemUrl: `https://example.com/ontologies/${id}` (string)


## Level Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### Level (object)
+ level: 1 (number)
+ title: Before Submitting the Proposal (string)
+ description: Some description (string)
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)


## Migrator Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### MigrationConflictAction (enum[string])
+ `Apply`
+ `Edited`
+ `Reject`

### MigratorConflict (object)
+ originalEventUuid: `5fdaa25f-5c6e-4bda-b520-c7d0f4a2bc64` (string)
+ action (MigrationConflictAction)
+ event (Event)

### MigratorStateCreate (object)
+ targetPackageId: `cz.cvut:common:1.0.0` (string)

### RunningState (object)
+ stateType: RunningState (string)

### ConflictState (object)
+ stateType: ConflictState (string)
+ targetEvent (Event)

### ErrorState (object)
+ stateType: ErrorState (string)
+ error (AppError)

### CompletedState (object)
+ stateType: CompletedState (string)

### MigrationStateType (enum)
+ (RunningState)
+ (ConflictState)
+ (ErrorState)
+ (CompletedState)

### MigrationState (object)
+ branchUuid: `2636b40f-b1cd-44ac-a04a-811c72b1dfa5` (string)
+ migrationState (MigrationStateType)
+ branchParentId: `cz.cvut:common:1.0.0` (string)
+ targetPackageId: `cz.cvut:common:2.0.0` (string)
+ currentKnowledgeModel (KnowledgeModel)


## Organization Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### Organization (object)
+ uuid: `0e795186-9733-4c60-9f03-58cea76590e1` (string)
+ name: Elixir Amsterdam (string)
+ groupId: elixir.nl.amsterdam (string)
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)

### OrganizationSimple (object)
+ organizationId: dsw (string)
+ name: DSW (string)
+ logo: `some-base64-encoded-image` (string, optional)

### OrganizationChange (object)
+ uuid: `0e795186-9733-4c60-9f03-58cea76590e1` (string)
+ name: Elixir Amsterdam (string)
+ groupId: elixir.nl.amsterdam (string)


## Package Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### PackageState (enum[string])
+ `UnknownPackageState`
+ `OutdatedPackageState`
+ `UpToDatePackageState`

### Package (object)
+ id: `cz.cvut.fit:software-engineering:1.0.0` (string)
+ name: Software Engineering (string)
+ organizationId: `cz.cvut.fit` (string)
+ kmId: `software-engineering:` (string)
+ version: `1.0.0` (string)
+ metamodelVersion: 1 (number)
+ description: Customizations for Faculty of Information Technology (string)
+ readme: `# Root \n ## About` (string)
+ parentPackageId: `cz.cvut:common:1.0.0` (string, optional)
+ events (array[Event])
+ createdAt: `2018-06-27T16:24:12Z` (string)

### PackageSimple (object)
+ id: `cz.cvut.fit:software-engineering:1.0.0` (string)
+ name: Software Engineering (string)
+ organizationId: `cz.cvut.fit` (string)
+ kmId: `software-engineering:` (string)
+ version: `1.0.0` (string)
+ description: Customizations for Faculty of Information Technology (string)
+ organization (OrganizationSimple, optional)
+ state (PackageState)
+ createdAt: `2018-06-27T16:24:12Z` (string)

### PackageDetail (object)
+ id: `cz.cvut.fit:software-engineering:1.0.0` (string)
+ name: Software Engineering (string)
+ organizationId: `cz.cvut.fit` (string)
+ kmId: `software-engineering:` (string)
+ version: `1.0.0` (string)
+ description: Customizations for Faculty of Information Technology (string)
+ readme: `# Root \n ## About` (string)
+ metamodelVersion: 1 (number)
+ parentPackageId: `cz.cvut:common:1.0.0` (string, optional)
+ versions (array[string])
  + 1.0.0
  + 2.0.0
+ remoteLatestVersion: 1.0.0 (string, optional)
+ organization (OrganizationSimple, optional)
+ registryLink: `https://registry.ds-wizard.org/knowledge-models/dsw:root:1.0.0` (string, optional)
+ state (PackageState)
+ createdAt: `2018-06-27T16:24:12Z` (string)


## Package Bundle Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### PackageBundle (object)
+ id: `cz.cvut.fit:software-engineering:1.0.0` (string)
+ name: Software Engineering (string)
+ organizationId: `cz.cvut.fit` (string)
+ kmId: `software-engineering:` (string)
+ version: `1.0.0` (string)
+ metamodelVersion: 1 (number)
+ packages (array[Package])


## Questionnaire Section ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### QuestionnaireAccessibility (enum[string])
+ `PublicQuestionnaire`
+ `PrivateQuestionnaire`
+ `QuestionnaireAccessibility`

### QuestionnaireCreate (object)
+ name: My Questionnaire (string)
+ level: 2 (number)
+ packageId: `cz.cvut:common:1.0.0` (string)

### QuestionnaireChange (object)
+ name: My Questionnaire (string)
+ accessibility (QuestionnaireAccessibility)
+ level: 3 (number)
+ replies (array[Reply])

### Questionnaire (object)
+ uuid: `eb9db9e0-811d-4dd8-9651-e900ef7fffec` (string)
+ name: My Questionnaire (string)
+ level: 1 (number)
+ accessibility (QuestionnaireAccessibility)
+ package (PackageSimple)
+ ownerUuid: `8fdd8d82-f512-40dc-b445-25043a65dbf4` (string, optional)
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)

### QuestionnaireDetail (object)
+ uuid: `eb9db9e0-811d-4dd8-9651-e900ef7fffec` (string)
+ name: My Questionnaire (string)
+ level: 2 (number)
+ accessibility (QuestionnaireAccessibility)
+ package (PackageSimple)
+ ownerUuid: `8fdd8d82-f512-40dc-b445-25043a65dbf4` (string, optional)
+ knowledgeModel (KnowledgeModel)
+ replies (array[Reply])
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)

### Reply (object)
+ path: i1j3io131j23i1j.i1j3io131j23i1j.i1j3io131j23i1j.0.itemName (string)
+ value (ReplyValue)

### ReplyValue (enum)
+ (StringReply)
+ (AnswerReply)
+ (ItemListReply)

### StringReply (object)
+ type: StringReply (string)
+ value: MongoDB (string)

### AnswerReply (object)
+ type: AnswerReply (string)
+ value: `4889f3fd-3310-457f-b0b7-9805ad3954eb` (string)

### ItemListReply (object)
+ type: ItemListReply (string)
+ value: 2 (number)


## Report Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### AnsweredIndication (object)
+ indicationType: `AnsweredIndication` (string)
+ answeredQuestions: 2 (number)
+ unansweredQuestions: 3 (number)

### Indication (enum)
+ (AnsweredIndication)

### MetricSummary (object)
+ metricUuid: `4b3d80bc-f52d-4d63-8743-2300ff6e3917` (string)
+ measure: 0 (number)

### ChapterReport (object)
+ chapterUuid: `ebcbab63-0527-4349-8cbd-4dd337b1b000` (string)
+ indications (array[Indication])
+ metrics (array[MetricSummary])

### Report (object)
+ uuid: `7f822953-f30d-4020-a827-595819f007f1` (string)
+ chapterReports (array[ChapterReport])
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)


## Template Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### Template (object)
+ uuid: `eb106263-0c42-4655-bdb0-9587342b10ff` (string)
+ name: Common DMP Template (string)
+ rootFile: root.html.j2 (string)


## Token Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### TokenCreate (object)
+ email: albert.einstein@email.com (string)
+ password: password (string)

### Token (object)
+ name: jij23ioin23.br34htjdsuis.df789323n23jn2 (string)


## Typehint Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### Typehint (object)
+ id: `op-p000001` (string)
+ name: Life Science Ontology (string)
+ url: https://example.com/${id} (string)

### TypehintRequest (object)
+ packageId: `cz.cvut.fit:software-engineering:1.0.0` (string)
+ questionUuid: `4388ac64-e310-416a-beba-df84edc128a1` (string)
+ q: dog (string)


## User Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### UserChange (object)
+ uuid: `d977c686-2e0e-46fe-b552-bb379916df89` (string)
+ name: Albert (string)
+ surname: Einstein (string)
+ email: albert.einstein@example.com (string)
+ role: ADMIN (string)
+ isActive: true (boolean)

### UserCreate (object)
+ name: Albert (string)
+ surname: Einstein (string)
+ email: albert.einstein@example.com (string)
+ role: ADMIN (string)
+ password: aijio2jiasjdias (string)

### UserRegistration (object)
+ name: Albert (string)
+ surname: Einstein (string)
+ email: albert.einstein@example.com (string)
+ password: aijio2jiasjdias (string)

### User (object)
+ uuid: `d977c686-2e0e-46fe-b552-bb379916df89` (string)
+ name: Albert (string)
+ surname: Einstein (string)
+ email: albert.einstein@example.com (string)
+ role: ADMIN (string)
+ permissions: [UM_PERM, PM_PERM] (array[string])
+ isActive: true (boolean)
+ createdAt: `2018-06-27T16:24:12Z` (string)
+ updatedAt: `2018-06-27T16:24:12Z` (string)

### UserPassword (object)
+ password: aijio2jiasjdias (string)

### UserProfileChange (object)
+ name: Albert (string)
+ surname: Einstein (string)
+ email: albert.einstein@example.com (string)

### UserState (object)
+ active: true (boolean)


## Version Section |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

### Version (object)
+ description: Some description (string)
+ readme: Some readme (string)